*{
margin :0px;
padding:0px;
}

body{
background: rgb(255,255,255);
}

.heading{
display:flex;
justify-content:center;
margin-bottom:45px;}

h1{
margin-left:5%;
margin-bottom:0px;
font-family:'Poppins';
font-weight:800;
font-size:80px;
font-style:italic;
}

.display{
 display:flex;
 flex-direction:column;
 margin:0 15% 0;
}
.search-form{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:0;
}
.card-container form{
padding:25px;
margin:5px;
}

.card-container{
margin-top:0px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.card{
    display:inline-block;
    background:background: rgb(220,219,231);
    background: linear-gradient(90deg, rgba(220,219,233,0.75) 0%,
              rgba(143,143,236,0.25) 67%, rgba(127,167,175,0) 100%);
    margin:10px;
    padding:5px;
    width:500px;

}

.card-form li{
list-style:none;
}

.ticks{
   position: absolute; opacity: 0;
  }


.card-form .card:hover{
cursor :pointer;
}

.show{
  opacity:1;
}

.text{
   margin-left:10px;
   }


.card-link, a:link, a:hover{
  color:#000000;
font-weight:300;
font-family:'Poppins';
text-decoration:none;
}


button[type='submit']{
   height:25px;
   margin: 0 35% 0;
   border-radius:5px;
   text-align:center;
}

input[type='text']::placeholder{
  font:'Poppins';
  font-weight:400;
  font-style:italic;
}

.card-form{
display:flex;
justify-content:center;
flex-direction:column;

}

.search-bar-container{
  margin:0 5% 5%;
}
.search-bar{
  width:300px;
}
.search-button{
   background:linear-gradient(90deg, rgba(220,219,233,0.75) 0%,
              rgba(143,143,236,0.25) 67%, rgba(127,167,175,0) 100%);
   padding:8px;
   border-radius:10px;
   margin:10px;
}

.search-button a{
 color:#000000;
}


@media only screen and (max-width:1000px){
       .heading{
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100%;}
       h1{
           width:100%;
           margin:0px;}
       .display{
           margin:0;
           display:flex;
           justify-content:center;
           align-items:center; }
       .search-bar-container{
          display:flex;
          flex-direction:column;
           justify-content:center;
           align-items:center;}
       .search-button{
            width:100%;}
       .card-container{
        margin:0;
        flex-direction:column;
         display:flex;
         justify-content:center;
         align-items:center; }
}